In [1]:
# python 3.7
import pandas as pd
import math
from math import log

#导入数组
df = pd.read_csv('1.csv') #DataFrame

#清洗数据，删除无关列
dfclean = df.drop(columns = ['y-coordinate','x_velocity','y_velocity','z_velocity'])

#提取一列数据
#df["y"].unique()
#去除重复
#df.duplicated()
#df.drop_duplicates()

In [2]:
#删除列
df_z = dfclean.drop(columns = ['x','y'])

#去除重复
array_1 = df_z.drop_duplicates()

#将列z转换为数组
arrayz = array_1["z"].unique()

In [8]:
#求数组长度
l = len (arrayz)

#第一层网格中心点高度
h0 = 0.0

#创建空数组
ea1 = []
ea2 = []

for i in range(0, l) :
    
    arrayz[i]
    
    #创建交换空间储存对应z值的行
    swap = dfclean.loc[dfclean['z'] == arrayz[i]]
    
    #提取交换空间中y列到数列
    arrayh = swap["y"].unique()

    #求数组长度
    b = len(arrayh)
        
        
    for a in range(0, b) :
        
        #求高度起始值
        h_min = min (arrayh)

        arrayh[a]
        
        #求相对高度
        h_ref = abs(arrayh[a]-h_min)+ h0
        
        #将求解结果写入数组
        ea1.append(h_ref)

In [4]:
k = 0.41
ustar = 2.0
z0 = 0.5

for c in  range(0, len (ea1)) :
    v = log(ea1[c]/z0+1)*ustar/k
    ea2.append(v)

In [5]:
ex3 = pd.DataFrame(ea2)
ex3 = ex3.set_axis(['velocity'], axis='columns', inplace=False)

In [6]:
#添加新列并赋值
#dfclean['velocity']='ea1'

#dffinal = dfclean.merge(ex3, left_on='x', right_on='velocity', suffixes=('_left', '_right'))

#合并dataframe
dffinal = dfclean.join(ex3)
dffinal

               x          y     z   velocity
0      337.13849 -4865.0801 -3537   0.000000
1      337.13849 -4864.0552 -3537   5.439395
2      337.13849 -4862.9795 -3537   8.043363
3      337.13849 -4861.8501 -3537   9.802709
4      337.13849 -4860.6641 -3537  11.149475
...          ...        ...   ...        ...
43843  337.13849 -4463.0454  7743  21.554685
43844  337.13849 -4440.9946  7743  23.633667
43845  337.13849 -4417.9614  7743  25.142438
43846  337.13849 -4394.4429  7743  26.314682
43847  337.13849 -4370.8682  7743  27.261145

[43848 rows x 4 columns]

In [7]:
#将DataFrame写入csv
dffinal.to_csv('velocit.csv')